/* cp stands for cart-page */
.cp-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 20px auto;
}

.cp-section-title {
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0px 10px 20px 10px; 
}

.cp-your-cart {
  padding: 0px;
}

.cp-order-summary {
  background-color: whitesmoke;
  padding: 20px;
}

.cp-total-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  row-gap: 5px;
}

.cp-left-col {
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 8px;
}

.cp-right-col {
  text-align: right;
  font-size: 0.9rem;
}

.total-lbl {
  font-size: 1.1rem;
}

.checkout-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.checkout-btn {
  width: 100%;
  height: 35px;
  background-color: rgb(9, 107, 94);  
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  padding: 4px;
}

.empty-cart {
  text-align: left;
}

.cp-small {
  font-size: 0.8em;
}

.cart-list {
  margin-top: 16px;
}

/* line items in the cart (ci => cart-item) */
.ci-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-top: 1px solid #ccc;
}

.ci-left-container {
  flex-basis: 15%;
}

.ci-middle-container {
  flex-basis: 65%;
  display: block;
}

.ci-right-container {
  flex-basis: 20%;
  border: none;
  margin-left: 10px;
}

.ci-image {
  height: 100%;
  width: 100%;
}

.ci-name-size-container {
  margin-bottom: 10px;
}

.ci-name {
    font-size: 0.9em;
    font-weight: 500;
}

.ci-size {
  font-size: 0.8em;
}

.ci-qty-fieldset {
  width: 80px;
  height: 38px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid lightgray;
}

.ci-qty-legend {
  font-size: 0.65em;
}

.ci-qty-container {
  display: flex;
  justify-content: space-around;
}

.ci-btn {
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    background-color: white;
}

.ci-qty-text {
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 3px;
}

.ci-total {
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
}
.ci-price {
  font-size: 0.7em;
  text-align: right;
}


@media screen and (min-width: 768px ) {

  .cp-container {
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }

  /* left side */
  .cp-your-cart {
    flex-grow: 2;
    margin: 0 30px;
  }
  
  /* right side */
  .cp-order-summary {
    min-width: 300px;
    max-width: 350px;
    border-radius: 5px;
    margin-right: 50px;
  }

  .cp-section-title {
    margin: 0px 10px 20px 0px; 
  }

}



@media screen and (min-width: 1024px ) {

  /* this puts the quantity fieldset below the name */
  .ci-middle-container {
    display: flex;
  }

  /* push to the right edge of its container */
  .ci-qty-fieldset {
    margin-left: auto;
    margin-right: 5%;
  }

}

