.layout {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.footer { 
  text-align: center;
  padding: 50px 50px;
}


@media screen and (min-width: 768px) {

  .header { 
    padding: 0px 48px;
    margin-bottom: 16px;
  }
}

