.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  /* this makes the modal scrollable if it exceeds the screen height */
  height: auto;
  bottom: 0;
  overflow: auto;

}

.modal-content {
  width: 500px;
  background-color: #fff;

  /* smaller font reduces the need for scrolling */
  font-size: 0.9em;
}


.modal-header {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}


.modal-title {
  margin: 0;
  font-size: 1.05em;
}

.modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0px;
}

.modal-btn {
 /* margin: 0 auto; */
  width: 60%;
  height: 2.5rem;
  font-size: 0.95rem;
  font-weight: 700;
  background-color: black;
  color: white;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}


.modal-footer {
  padding: 10px;
}
